<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>http://5.9.248.161:8181/TimeTracker-0.1/</string>
	<key>ApiKey</key>
	<string>05cdaa4a82c847b9a73d77f4799df119</string>
</dict>
</plist>